{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Whirlpool</title>
    <link rel="icon" href="{% static 'home/ico/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'whirlpool/style.css' %}">
</head>

<body>
  <script src='{% static 'libs/p5.min.js' %}'></script>
  <script src='{% static 'libs/lodash.min.js' %}'></script>
  <script  src="{% static 'whirlpool/script.js' %}"></script>
</body>

</html>
