#toggle-nav {
  padding: 8px 10px;
  border-radius: 3px;
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  align-self: center;
  font-size: .7rem;
  font-weight: bold;
}
@media (min-width: 769px) {
  #toggle-nav {
    display: none;
  }
}
@media (max-width: 768px) {
  #toggle-nav {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.logo-link {
  font-family: "Cabin Sketch", serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 768px) {
  .logo-link {
    margin-left: 10px;
  }
}

.main-nav {
  background: #2d374c;
  box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.35);
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .main-nav {
    padding: 0 10px;
    display: block;
  }
  .options {
    display: none;
  }
}
.menu {
  display: flex;
}
@media (max-width: 768px) {
  .menu {
    display: block;
    height: 0;
    overflow: hidden;
  }
}
.menu-open {
  display: block;
  height: auto;
}
.menu-item {
  list-style: none;

}
.menu-item-link {
  color: #ececec;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: block;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .menu-item-link {
    line-height: 40px;
    box-shadow: 0 1px 0 #eee inset;
  }
}
.menu-item-link:hover {
  color: white;
}
.menu-item--active .menu-item-link {
  color: white;
  background: #38445f;
}
.menu-item-active .menu-item-link:hover {
  color: white;
}

.menu-item-dropdown {
  position: relative;
}
@media (min-width: 769px) {
  .menu-item-dropdown .menu-item-link {
    padding-right: 20px;
  }
}
.menu-item-dropdown:after {
  top: 28px;
  left: auto;
  right: 5px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 5px solid transparent;
  border-top-color: #dadada;
}
@media (max-width: 768px) {
  .menu-item-dropdown:after {
    top: 18px;
  }
}
.menu-item-dropdown .sub-menu {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: .5s;
  background-color: #f0f0f0;
  white-space: nowrap;
  z-index: 1;
}
@media (min-width: 769px) {
  .menu-item-dropdown .sub-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.35);
  }
}
.menu-item-dropdown .sub-menu-show {
  max-height: 200px;
}
.menu-item-dropdown .sub-menu-item {
  padding: 10px 15px;
}
.menu-item-dropdown .sub-menu-item:last-child {
  padding: 10px 15px 20px 15px;
}
.menu-item-dropdown .sub-menu-item-link {
  color: #999;
  display: block;
  text-decoration: none;
}
.menu-item-dropdown .sub-menu-item-link:hover {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

:root {
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.618;
  font-weight: 400;
}

body {
  background-color: #2f3238;
  color: #f5f5f5;
}

a {
  color: #1abc89;
}

a:hover {
  opacity: .8;
}

p {
  font-size: 1.2rem;
  color: rgba(245, 245, 245, 0.5);
}

.small {
  font-size: 1rem;
  margin-top: 1em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

header {
  position: relative;
  text-align: center;
  padding-bottom: 3rem;
  z-index: 1;
}

h1 {
  font-size: 2.6rem;
  line-height: 1.2em;
  padding-bottom: 1rem;
  font-weight: 600;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

text {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

.svg-text {
  fill: #545a64;
}

.svg-masked-text {
  fill: white;
}

image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 5px;
  cursor: pointer;
  background-color: #3b3e46;
  border-radius: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
  -webkit-transform: scale(1);
          transform: scale(1);
}


button {
  width: 12px;
  height: 12px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}
button.dark {
  background-color: #2f3238;
}
button.light {
  background-color: #f9f9f9;

}

.options {
  position: absolute;
  top: 1.6rem;
  right: 1rem;
}
.options button {
  margin-left: .5rem;
}

.light {
  background-color: #f7f9fb;
  color: #1a1a1a;
}
.light p {
  color: rgba(26, 26, 26, 0.5);
}
.light .item {
  background: #f5f5f5;
}
.light .svg-text {
  fill: rgba(0, 0, 0, 0.5);
}
.light .main-nav {
  background: #508fb5;
}

.light .main-nav__menu-item-link {
  color: #ececec;
}

.light .main-nav__menu-item--active .main-nav__menu-item-link {
  color: white;
  background: #4b87ab;
}

.light .main-nav__logo-link {
  color: white;
}
