html {
  height: 100%;
}
body {
  margin:0;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}
a { cursor: pointer; }

.alert {
  width: 50%;
  margin: auto;
  position: relative;
  text-align: center;
  background-color: #bdd7f4;
  color: #141e30;
  font-size: 1.7rem;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 50px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-family: "Lobster", sans-serif;
  font-weight: bold;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-family: "Roboto Thin", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 35px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  font-family: "Lobster", sans-serif;
  top:0;
  left: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -50%;
  left: 0;
  color: #1da2dc;
  font-size: 20px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  font-family: "Lobster", sans-serif;
  padding: 10px 10px;
  color: #1da2dc;
  font-size: 26px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  left: 50%;
  -ms-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
}

.login-box a:hover {
  background: #1da2dc;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1da2dc,
              0 0 25px #1da2dc,
              0 0 50px #1da2dc,
              0 0 100px #1da2dc;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1da2dc);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #1da2dc);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1da2dc);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1da2dc);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.login-box form .github-box a {
  position: relative;
  display: inline-block;
  font-family: "Lobster", sans-serif;
  padding: 10px 10px;
  color: #ff8c00;
  font-size: 26px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
}

.login-box form .github-box a:hover {
  background: #ff8c00;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff8c00,
              0 0 25px #ff8c00,
              0 0 50px #ff8c00,
              0 0 100px #ff8c00;
}

.github-box a span {
  position: absolute;
  display: block;
}

.github-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff8c00);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.github-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff8c00);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.github-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff8c00);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.github-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff8c00);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.login-box form #lost{
  margin-top: 15px;
  font-size: 22px;
}