.green {
    margin-top: 15px;
}
.green .progress, .red .progress, .orange .progress {
    position: relative;
    border-radius: 50%;
}
.green .progress, .red .progress, .orange .progress {
    width: 250px;
    height: 250px;
}
.green .progress {
    border: 5px solid #53fc53;
}
.green .progress {
    box-shadow: 0 0 20px #029502;
}
.green .progress, .red .progress, .orange .progress {
    transition: all 1s ease;
}
.green .progress .inner, .red .progress .inner, .orange .progress .inner {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    border-radius: 50%;
}
.green .progress .inner, .red .progress .inner, .orange .progress .inner {
    width: 240px;
    height: 240px;
}
.green .progress .inner, .red .progress .inner, .orange .progress .inner {
    border: 1px solid #1a1a1a;
}
.green .progress .inner, .red .progress .inner, .orange .progress .inner {
    transition: all 1s ease;
}
.green .progress .inner .water, .red .progress .inner .water, .orange .progress .inner .water {
    position: absolute;
    z-index: 1;
    width: 200%;
    height: 200%;
    left: -50%;
    border-radius: 40%;

    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;

    -webkit-animation-name: spin;
            animation-name: spin;
}
.green .progress .inner .water {
    top: 25%;
}
.green .progress .inner .water {
    background: rgba(83,252,83,0.5);
}
.green .progress .inner .water, .red .progress .inner .water, .orange .progress .inner .water {
    transition: all 1s ease;
}
.green .progress .inner .water, .red .progress .inner .water, .orange .progress .inner .water {
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}
.green .progress .inner .water {
    box-shadow: 0 0 20px #03bc03;
}
.green .progress .inner .glare, .red .progress .inner .glare, .orange .progress .inner .glare {
    position: absolute;
    top: -120%;
    left: -120%;
    z-index: 5;
    width: 200%;
    height: 200%;
    transform: rotate(45deg);
    border-radius: 50%;
}
.green .progress .inner .glare, .red .progress .inner .glare, .orange .progress .inner .glare {
    background-color: rgba(255,255,255,0.15);
}
.green .progress .inner .glare, .red .progress .inner .glare, .orange .progress .inner .glare {
    transition: all 1s ease;
}
.green .progress .inner .percent, .red .progress .inner .percent, .orange .progress .inner .percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    }
.green .progress .inner .percent, .red .progress .inner .percent, .orange .progress .inner .percent {
    line-height: 240px;
    font-size: 80px;
}
.green .progress .inner .percent {
    color: #03c603;
}
.green .progress .inner .percent {
    text-shadow: 0 0 10px #029502;
}
.green .progress .inner .percent, .red .progress .inner .percent, .orange .progress .inner .percent {
    transition: all 1s ease;
}

.red {
    margin-top: 15px;
}
.red .progress {
    border: 5px solid #ed3b3b;
}
.red .progress {
    box-shadow: 0 0 20px #7a0b0b;
}
.red .progress .inner .water {
    top: 75%;
}
.red .progress .inner .water {
    background: rgba(237,59,59,0.5);
}
.red .progress .inner .water {
    box-shadow: 0 0 20px #9b0e0e;
}
.red .progress .inner .percent {
    color: #a30f0f;
}
.red .progress .inner .percent {
    text-shadow: 0 0 10px #7a0b0b;
}

.orange {
    margin-top: 15px;
}
.orange .progress {
    border: 5px solid #f07c3e;
}
.orange .progress {
    box-shadow: 0 0 20px #7e320a;
}
.orange .progress .inner .water {
    top: 50%;
}
.orange .progress .inner .water {
    background: rgba(240,124,62,0.5);
}
.orange .progress .inner .water {
    box-shadow: 0 0 20px #a0400c;
}
.orange .progress .inner .percent {
    color: #a8430d;
}
.orange .progress .inner .percent {
    text-shadow: 0 0 10px #7e320a;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}