{% load static %}
{% load app_tags %}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>JackShen World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">

    <meta property="og:title" content="Intro JackShen" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jackshen.herokuapp.com/home/" />
    <meta property="og:image:url" content="https://jackshen.herokuapp.com/static/home/img/home.png" />

    <link rel="icon" href="{% static 'home/home/ico/logo.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/reset.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/home/css/intro.css' %}">

    <style type="text/css"> audio { display:none;} </style>
</head>

<body>
{# Loader #}
<div class="spinner">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>

<audio class="song" controls loop autoplay>
    <source src="{% static 'audio/takeonme.mp3' %}"/>
    Your browser isn't invited for super fun audio time.
</audio>

<div class="container">
    <div class="canvas-container">
        <canvas id="canvas"></canvas>

        <div class="blur blurTop">
            <canvas class="canvas" id="blurCanvasTop"></canvas>
        </div>

        <div class="blur blurBottom">
            <canvas width="1000px" height="1000px" class="canvas" id="blurCanvasBottom"></canvas>
        </div>

        <div id="logo-text" style="visibility: hidden;">
            <h1>
                <span>W</span>
                <span>e</span>
                <span>l</span>
                <span>c</span>
                <span>o</span>
                <span>m</span>
                <span>e</span>
                <span>&nbsp;</span>
                <span>t</span>
                <span>o</span>
            </h1>
            <h2>
                <span>J</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>
                <span>S</span>
                <span>h</span>
                <span>e</span>
                <span>n</span>
                <span>&nbsp;</span>
                <span>W</span>
                <span>o</span>
                <span>r</span>
                <span>l</span>
                <span>d</span>
            </h2>
        </div>

        {% include 'home/logo.html' %}
    </div>
</div>


<script src="{% static 'libs/jquery.min.js' %}"></script>
<script src="{% static 'libs/TweenMax.min.js' %}"></script>
<script src="{% static 'home/home/js/intro.js' %}"></script>

<script>
    if (IS_MOBILE)
        window.open('{% url "home_page" %}', '_self')

    setTimeout(() => {
            let audio = $('.song')[0];
            audio.play();
            setTimeout(() => {
                document.location = '{% url "home_page" %}'
            }, 207 * 100)
        }, 0);
</script>

</body>
</html>