{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JackShen Engineering</title>
    <link rel="icon" href="{% static 'home/ico/logo.ico' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'home/css/main-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'home/css/xmas-lights.css' %}">
    <script src="{% static 'libs/prefixfree.min.js' %}"></script>
</head>

<body>
<nav class="main-nav">

    <div class="heading">
        <div class="logo">
            <a href="{% url "intro" %}" target="_self" rel="nofollow" title="JackShen Engineering" class="logo-link">JackShen Engineering</a>
        </div>
        <button id="toggle-nav">
            menu
        </button>
    </div>

    <ul class="menu">
        <li class="menu-item">
            <a class="menu-item-link" href="../ads" target="_blank">Blog</a>
        </li>

        <li class="menu-item">
            <a class="menu-item-link" href="../chat" target="_blank">Chat</a>
        </li>

        <li class="menu-item menu-item-dropdown">
            <span class="menu-item-link">Portfolio</span>
            <ul class="sub-menu">
                <li class="sub-menu-item">
                    <a class="sub-menu-item-link" href="/">Resume</a>
                </li>
                <li class="sub-menu-item">
                    <a class="sub-menu-item-link" href="http://jackshen.atwebpages.com/">Robot Car UI</a>
                </li>
                <li class="sub-menu-item">
                    <a class="sub-menu-item-link" href="http://jackshen.atwebpages.com/joystick/">Joystick</a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            {% if user.is_authenticated %}
                <a class="menu-item-link" href="/">
                    {{ user.username }}
                    <img style="width: 20px; border-radius: 60%; margin-bottom: -4px; margin-left: 5px;" src="{{ user|gravatar:60 }}" alt="avatar"/>
                    <b class="caret"></b>
                </a>
            {% endif %}
        </li>

        <li class="menu-item">
            {% if user.is_authenticated %}
                <a class="menu-item-link" href="{% url 'logout' %}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Log Out
                </a>
            {% else %}
                <a class="menu-item-link" href="{% url 'login' %}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Log In
                </a>
            {% endif %}
        </li>

        <li class="menu-item">
            <a class="menu-item-link" href=""></a>
            <div class='options'>
                <button class='dark'></button>
                <button class='light'></button>
            </div>
        </li>
    </ul>
</nav>

<div class='container'>
    <header>
        <h1>Welcome to JackShen World!</h1>
        <p>
            Some of my old and new projects on Django, as well as web design and web animation using HTML + CSS + JS
        </p>
    </header>

    <main>
        <div class='items'>
            <div class='item'>
                <ul class="lightrope">
                    <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                    <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
                </ul>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 1100 600'>
                    <a href="../xmas-tree" target="_blank">
                        <defs>
                            <clipPath id='clip-0'>
                                <circle cx='0' cy='0' fill='#000' r='400px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' id='xmas-text' dy='.3em' x='50%' y='50%' style="font-size: 3rem; font-family: 'Cooper Black', serif;">
                            XMAS WONDERLAND
                        </text>
                        <g clip-path='url(#clip-0)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/EuSTTBy.png'></image>
                            <text id="xmas-text" class='svg-masked-text' dy='.3em' x='50%' y='50%' style="font-size: 3rem; font-family: 'Cooper Black', serif;">
                                XMAS WONDERLAND
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "concentus" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-1'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Concentus
                        </text>
                        <g clip-path='url(#clip-1)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/7xhto00.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Concentus
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "constellation" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-2'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Constellation
                        </text>
                        <g clip-path='url(#clip-2)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/gM4qqYv.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Constellation
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "expressionism" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-3'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Expressionism
                        </text>
                        <g clip-path='url(#clip-3)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/aXwiXiE.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Expressionism
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "expressionism2" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-4'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Expressionism II
                        </text>
                        <g clip-path='url(#clip-4)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/8NgBkBz.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Expressionism II
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "fractal" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-5'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Fractal Zoom
                        </text>
                        <g clip-path='url(#clip-5)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/QzW6Tlk.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Fractal Zoom
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "galaxy" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-6'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Galaxy
                        </text>
                        <g clip-path='url(#clip-6)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/oIQKBtR.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Galaxy
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "heartverse" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-7'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Heartverse
                        </text>
                        <g clip-path='url(#clip-7)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/5nHtI0z.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Heartverse
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "infinity" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-8'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Infinity
                        </text>
                        <g clip-path='url(#clip-8)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/vNqWa6S.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Infinity
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "neon" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-9'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Neon Heart
                        </text>
                        <g clip-path='url(#clip-9)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/ilKn1l6.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Neon Heart
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "phoenix" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-10'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Phoenix
                        </text>
                        <g clip-path='url(#clip-10)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/XWXiOu0.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Phoenix
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "spirals" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-11'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Spirals (Fractal) Symphony
                        </text>
                        <g clip-path='url(#clip-11)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/APpcZlD.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Spirals (Fractal) Symphony
                            </text>
                        </g>
                    </a>
                </svg>
            </div>

            <div class='item'>
                <svg preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
                    <a href="{% url "whirlpool" %}" target="_blank">
                        <defs>
                            <clipPath id='clip-12'>
                                <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                            </clipPath>
                        </defs>
                        <text class='svg-text' dy='.3em' x='50%' y='50%'>
                            Whirlpool
                        </text>
                        <g clip-path='url(#clip-12)'>
                            <image height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/Mf4gtHM.png'></image>
                            <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                                Whirlpool
                            </text>
                        </g>
                    </a>
                </svg>
            </div>
        </div>
    </main>
</div>

<script src="{% static 'libs/jquery1-7-1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'home/js/snowstorm.js' %}"></script>
<script src="{% static 'home/js/main_script.js' %}"></script>

</body>
</html>
