{% extends "base.html" %}

{% block content %}
    <h1>Welcome to JackShen World!</h1>
    <p style="padding-bottom: 0.5rem;">NOTE: For login use -> <b>Login:</b> <i>guest</i> &nbsp;|&nbsp; <b>Password:</b> <i>!jack$hen.guest</i></p>
    <p>
        Some of my old and new projects on Django, as well as web design and web animation using HTML + CSS + JS
    </p>

<div class='items'>
    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "concentus" %}" target="_blank">
                <defs>
                    <clipPath id='clip-0'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Concentus
                </text>
                <g clip-path='url(#clip-0)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/7xhto00.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Concentus
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "constellation" %}" target="_blank">
                <defs>
                    <clipPath id='clip-1'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Constellation
                </text>
                <g clip-path='url(#clip-1)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/gM4qqYv.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Constellation
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "expressionism" %}" target="_blank">
                <defs>
                    <clipPath id='clip-2'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Expressionism
                </text>
                <g clip-path='url(#clip-2)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/aXwiXiE.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Expressionism
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "expressionism2" %}" target="_blank">
                <defs>
                    <clipPath id='clip-3'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Expressionism II
                </text>
                <g clip-path='url(#clip-3'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/8NgBkBz.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Expressionism II
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "fractal" %}" target="_blank">
                <defs>
                    <clipPath id='clip-4'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Fractal Zoom
                </text>
                <g clip-path='url(#clip-4)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/QzW6Tlk.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Fractal Zoom
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "galaxy" %}" target="_blank">
                <defs>
                    <clipPath id='clip-5'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Galaxy
                </text>
                <g clip-path='url(#clip-5)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/oIQKBtR.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Galaxy
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "heartverse" %}" target="_blank">
                <defs>
                    <clipPath id='clip-6'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Heartverse
                </text>
                <g clip-path='url(#clip-6)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/5nHtI0z.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Heartverse
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "infinity" %}" target="_blank">
                <defs>
                    <clipPath id='clip-7'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Infinity
                </text>
                <g clip-path='url(#clip-7)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/vNqWa6S.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Infinity
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "neon" %}" target="_blank">
                <defs>
                    <clipPath id='clip-8'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Neon Heart
                </text>
                <g clip-path='url(#clip-8)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/ilKn1l6.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Neon Heart
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "phoenix" %}" target="_blank">
                <defs>
                    <clipPath id='clip-9'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Phoenix
                </text>
                <g clip-path='url(#clip-9)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/XWXiOu0.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Phoenix
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "psychedelic" %}" target="_blank">
                <defs>
                    <clipPath id='clip-10'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Psychedelic
                </text>
                <g clip-path='url(#clip-10)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/1NGrlxf.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Psychedelic
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "spirals" %}" target="_blank">
                <defs>
                    <clipPath id='clip-11'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Spirals (Fractal) Symphony
                </text>
                <g clip-path='url(#clip-11)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/APpcZlD.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Spirals (Fractal) Symphony
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "whirlpool" %}" target="_blank">
                <defs>
                    <clipPath id='clip-12'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Whirlpool
                </text>
                <g clip-path='url(#clip-12)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/Mf4gtHM.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Whirlpool
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <ul class="lightrope">
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
        </ul>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 1100 600'>
            <a href="{% url "xmas-intro" %}" target="_blank">
                <defs>
                    <clipPath id='clip-13'>
                        <circle cx='0' cy='0' fill='#000' r='400px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' id='xmas-text' dy='.3em' x='50%' y='50%' style="font-size: 3rem;">
                    XMAS WONDERLAND
                </text>
                <g clip-path='url(#clip-13)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/EuSTTBy.png'></image>
                    <text id="xmas-text" class='svg-masked-text' dy='.3em' x='50%' y='50%' style="font-size: 3rem;">
                        XMAS WONDERLAND
                    </text>
                </g>
            </a>
        </svg>
    </div>
</div>

{% endblock %}
