{% extends "base.html" %}
{% load static %}

{% block content %}
{% if not user.is_authenticated %}
<div style="width: 100%; text-align: center;">
    <a class="auth-button" style="margin-right: 10px;" href="{% url 'login' %}">Log In</a>
    <a class="auth-button" href="{% url 'register' %}">Sign Up</a>
</div>
{% endif %}

<div id="mobBtn" style="width: 100%; text-align: center;">
    <a class="auth-button" style="margin-right: 10px;" href="{% url 'movie-finder:movies-main' %}">Finderly</a>
    <a class="auth-button" href="{% url 'todo:lists' %}">To-Do</a>
</div>

<div id="mobBtn" style="width: 100%; text-align: center;">
    <a class="auth-button" style="margin-right: 10px; margin-bottom: 0;" href="https://github.com/JackShen1/sentimento-web/">Sentimento</a>
    <a class="auth-button" style="margin-bottom: 0;" href="{% url 'cypher:cypher-main' %}">Cypher</a>
</div>

<h1 class="section-title">The Best Projects from My GitHub</h1>

<div class='items'>
    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/slab-allocator" target="_blank">
                <defs>
                    <clipPath id='clip-0'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Slab Allocator
                </text>
                <g clip-path='url(#clip-0)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Slab Allocator
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/CCompiler" target="_blank">
                <defs>
                    <clipPath id='clip-1'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    C Compiler (Python)
                </text>
                <g clip-path='url(#clip-1)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        C Compiler (Python)
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/football-guess" target="_blank">
                <defs>
                    <clipPath id='clip-2'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Football Telegram Bot
                </text>
                <g clip-path='url(#clip-2)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Football Telegram Bot
                    </text>
                </g>
            </a>
        </svg>
    </div>



    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/sensus" target="_blank">
                <defs>
                    <clipPath id='clip-3'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Sentiment Analysis (UA)
                </text>
                <g clip-path='url(#clip-3)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Sentiment Analysis (UA)
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/sentimento" target="_blank">
                <defs>
                    <clipPath id='clip-4'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Sentiment Analysis (EN)
                </text>
                <g clip-path='url(#clip-4)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Sentiment Analysis (EN)
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/cpu-scheduling" target="_blank">
                <defs>
                    <clipPath id='clip-5'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Scheduling Algorithms
                </text>
                <g clip-path='url(#clip-5)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Scheduling Algorithms
                    </text>
                </g>
            </a>
        </svg>
    </div>



    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/android-samples" target="_blank">
                <defs>
                    <clipPath id='clip-6'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Android Project
                </text>
                <g clip-path='url(#clip-6)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Android Project
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/implicit-transition-graph" target="_blank">
                <defs>
                    <clipPath id='clip-7'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Planning Algorithm
                </text>
                <g clip-path='url(#clip-7)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Planning Algorithm
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/graph-plotter" target="_blank">
                <defs>
                    <clipPath id='clip-8'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Graph Plotter (JavaFX)
                </text>
                <g clip-path='url(#clip-8)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Graph Plotter (JavaFX)
                    </text>
                </g>
            </a>
        </svg>
    </div>



    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/parallel-calc" target="_blank">
                <defs>
                    <clipPath id='clip-9'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Parallel Programming
                </text>
                <g clip-path='url(#clip-9)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Parallel Programming
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/assembly-labs" target="_blank">
                <defs>
                    <clipPath id='clip-10'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Basics of Assembly
                </text>
                <g clip-path='url(#clip-10)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Basics of Assembly
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="https://github.com/JackShen1/multi-editor" target="_blank">
                <defs>
                    <clipPath id='clip-11'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Graphical & Image Editor
                </text>
                <g clip-path='url(#clip-11)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='{% static 'img/item-back.jpg' %}'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Graphical & Image Editor
                    </text>
                </g>
            </a>
        </svg>
    </div>
</div>

<h1 class="section-title">Best Web Dev Projects</h1>


<div class='items'>
    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "concentus" %}" target="_blank">
                <defs>
                    <clipPath id='clip-12'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Concentus
                </text>
                <g clip-path='url(#clip-12)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/7xhto00.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Concentus
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "constellation" %}" target="_blank">
                <defs>
                    <clipPath id='clip-13'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Constellation
                </text>
                <g clip-path='url(#clip-13)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/gM4qqYv.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Constellation
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "expressionism" %}" target="_blank">
                <defs>
                    <clipPath id='clip-14'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Expressionism
                </text>
                <g clip-path='url(#clip-14)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/aXwiXiE.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Expressionism
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "expressionism2" %}" target="_blank">
                <defs>
                    <clipPath id='clip-15'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Expressionism II
                </text>
                <g clip-path='url(#clip-15)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/8NgBkBz.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Expressionism II
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "fractal" %}" target="_blank">
                <defs>
                    <clipPath id='clip-16'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Fractal Zoom
                </text>
                <g clip-path='url(#clip-16)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/QzW6Tlk.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Fractal Zoom
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "galaxy" %}" target="_blank">
                <defs>
                    <clipPath id='clip-17'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Galaxy
                </text>
                <g clip-path='url(#clip-17)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/oIQKBtR.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Galaxy
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "heartverse" %}" target="_blank">
                <defs>
                    <clipPath id='clip-18'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Heartverse
                </text>
                <g clip-path='url(#clip-18)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/5nHtI0z.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Heartverse
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "infinity" %}" target="_blank">
                <defs>
                    <clipPath id='clip-19'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Infinity
                </text>
                <g clip-path='url(#clip-19)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/vNqWa6S.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Infinity
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "neon" %}" target="_blank">
                <defs>
                    <clipPath id='clip-20'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Neon Heart
                </text>
                <g clip-path='url(#clip-20)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/ilKn1l6.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Neon Heart
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "phoenix" %}" target="_blank">
                <defs>
                    <clipPath id='clip-21'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Phoenix
                </text>
                <g clip-path='url(#clip-21)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/XWXiOu0.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Phoenix
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "psychedelic" %}" target="_blank">
                <defs>
                    <clipPath id='clip-22'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Psychedelic
                </text>
                <g clip-path='url(#clip-22)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/1NGrlxf.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Psychedelic
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "spirals" %}" target="_blank">
                <defs>
                    <clipPath id='clip-23'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Spirals (Fractal) Symphony
                </text>
                <g clip-path='url(#clip-23)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/APpcZlD.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Spirals (Fractal) Symphony
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "whirlpool" %}" target="_blank">
                <defs>
                    <clipPath id='clip-24'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Whirlpool
                </text>
                <g clip-path='url(#clip-24)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/Mf4gtHM.png'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Whirlpool
                    </text>
                </g>
            </a>
        </svg>
    </div>

    <div class='item'>
        <ul class="lightrope">
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
            <li></li> <li></li> <li></li> <li></li> <li></li> <li></li>
        </ul>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 1100 600'>
            <a href="{% url "xmas-intro" %}" target="_blank">
                <defs>
                    <clipPath id='clip-25'>
                        <circle cx='0' cy='0' fill='#000' r='400px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' id='xmas-text' dy='.3em' x='50%' y='50%' style="font-size: 3rem;">
                    XMAS WONDERLAND
                </text>
                <g clip-path='url(#clip-25)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/EuSTTBy.png'></image>
                    <text id="xmas-text" class='svg-masked-text' dy='.3em' x='50%' y='50%' style="font-size: 3rem;">
                        XMAS WONDERLAND
                    </text>
                </g>
            </a>
        </svg>
    </div>

     <div class='item'>
        <svg class='item-svg' preserveAspectRatio='xMidYMid slice' viewBox='0 0 300 200'>
            <a href="{% url "secret" %}" target="_blank">
                <defs>
                    <clipPath id='clip-26'>
                        <circle cx='0' cy='0' fill='#000' r='150px'></circle>
                    </clipPath>
                </defs>
                <text class='svg-text' dy='.3em' x='50%' y='50%'>
                    Secret Project
                </text>
                <g clip-path='url(#clip-26)'>
                    <image class="item-image" height='100%' preserveAspectRatio='xMinYMin slice' width='100%' xlink:href='https://i.imgur.com/T81MXJu.jpg'></image>
                    <text class='svg-masked-text' dy='.3em' x='50%' y='50%'>
                        Secret Project
                    </text>
                </g>
            </a>
        </svg>
    </div>
</div>

{% endblock %}
