{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Not Found - 404</title>
    <link rel="icon" href="{% static 'home/home/ico/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'libs/reset.min.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dosis:400,300,500,800'>
    <link rel="stylesheet" href="{% static 'home/home/css/error.css' %}">
</head>

<body>
<div class="content">
    <canvas class="snow" id="snow"></canvas>
    <div class="main-text">
        <h1>Sorry!<br/>Page in  rebuild.</h1>
        <a class="home-link" href="{% url "home_page" %}">Go back home.</a>
    </div>

    <div class="ground">
        <div class="mound">
            <div class="mound_text"></div>
            <div class="mound_spade"></div>
        </div>
    </div>
</div>
<script src="{% static 'home/home/js/error.js' %}"></script>
</body>
</html>


{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block main %}#}
{#    <div class="container">#}
{#        <div class="page-header">#}
{#            <h1>Welcome to JackShen ChatApp! <br>#}
{#                <small>Pick a user and start chatting!</small>#}
{#            </h1>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-md-4">#}
{#                <div id="user-list" class="list-group">#}
{#                    <a href="" class="list-group-item disabled">#}
{#                        <h4 class="list-group-item-heading">Users</h4>#}
                        {# Users go here #}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-8">#}
{#                <div class="panel panel-info">#}
{#                    <div class="panel-heading">#}
{#                        <h4 class="panel-title">Chat</h4>#}
{#                    </div>#}
{#                    <div>#}
{#                        <ul id="messages" class="messages">#}
                            {# Messages go here #}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="panel-footer">#}
{#                        <div class="input-group">#}
{#                            <label for="chat-input"></label><input id="chat-input" type="text"#}
{#                                                                   class="form-control input"#}
{#                                                                   placeholder="Type your message here ..."#}
{#                                                                   maxlength="500">#}
{#                            <span class="input-group-btn">#}
{#                            <button class="btn btn-info btn"#}
{#                                    id="btn-send">#}
{#                                Send</button>#}
{#                        </span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <script>#}
{#        let sessionKey = '{{ request.session.session_key }}';#}
{#        let currentUser = '{{ request.user.username }}';#}
{#    </script>#}
{#    <script src="{% static 'chat/js/chat.js' %}"></script>#}
{##}
{#{% endblock %}#}