*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	color: #fff;
	background: #000;
}

#container {
	display: block;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}