html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	overflow: hidden;
	background-color:#000;
}

.btn {
	display: inline-block;
	appearance: none;
	outline: none;
	padding: 0.5rem 0.75rem;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 400;
	color: #222528;
	background: #EAEAEA;
	border: 1px solid transparent;
	border-radius: 0.3rem;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}
.btn:hover {
	background: #d7d7d7;
}
.btn:disabled, .btn.btn--disabled {
	opacity: 0.3;
	cursor: not-allowed;
	user-select: none;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn.btn--start {
	color: #f4f4f8 !important;
	background: #64bb4f;
	border: none;
}
.btn.btn--start:hover {
	color: #F8F8FF !important;
	background-color: #53a43f;
}

.btn.btn--load {
	color: #f4f4f8 !important;
	background: #1982c4;
	border: none;
}
.btn.btn--load:hover {
	color: #F8F8FF !important;
	background-color: #156ca2;
}


input[type="file"] {
	display: none;
}

#menu {
	position: absolute;
	top: 10px;
	left: 10px;
}

#txtStatus {
	position: absolute;
	bottom: 0;
	left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: rgb(255,255,255);
}