* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html, body {
  background: black;
  width: 100%;
  height: 100%;
	overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
	display: block;
  position: absolute;
}

.choices {
	position: absolute;
	top: 0;
	left: 0;
}

.choices button {
	border: solid 3px #FFFFFF;
	color: #ffffff;
	background-color: rgba(34, 140, 34, 0.7);
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
	overflow: hidden;
	transition: all .3s ease-in-out;
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	margin: 5px;
}

.choices button:hover{
	color: #1c1b1b;
	border: solid 3px #1c1b1b;
}
