{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fractal Spirals Symphony</title>
    <link rel="icon" href="{% static 'home/ico/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'spirals/style.css' %}">
</head>

<body>
<canvas id="canvas"></canvas>
<label for="fractals"></label>
<input id="fractals" value="0"/>

<script src='https://unpkg.com/glea@latest'></script>
<script src='{% static 'libs/gsap.min.js' %}'></script>
<script src='{% static 'libs/ScrollTrigger.js' %}'></script>
<script  src="{% static 'spirals/script.js' %}"></script>
</body>
</html>
