.reviews-card {
  margin: 0 auto 0;
}

.content-section-main-title {
  margin-bottom: 14px;
  font-size: 22px;
}

.form-group .rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.form-group .rating-0 {
  filter: grayscale(100%);
}

.form-group .rating > input {
  display: none;
}

.form-group .rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' stroke='black' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .form-group .rating{
    height: 100px;
  }
  .form-group .rating > label {
    width: 30px;
    height: 30px;
  }
}

.form-group .rating > input:checked ~ label,
.form-group .rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");

}

.form-group .rating > input:not(:checked) ~ label:hover,
.form-group .rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  .emoji-wrapper {
    height: 60px;
  }

  .content-section-main-title {
    font-size: 18px;
  }
}

.emoji-wrapper:before,
.emoji-wrapper:after {
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}


.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.emoji > svg {
  margin: 7px 0;
  width: 85px;
  height: 85px;
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .emoji > svg {
    margin: 5px 0;
    width: 50px;
    height: 50px;
  }
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}

#rating-2:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-100px);
}

#rating-3:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}

#rating-4:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-200px);
}

#rating-5:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}

#rating-6:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-300px);
}

#rating-7:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}

#rating-8:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-400px);
}

#rating-9:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}

#rating-10:checked ~ .emoji-wrapper > .emoji {
  transform: translateY(-500px);
}

@media (max-width: 992px) {
  #rating-1:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-60px);
  }

  #rating-2:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-60px);
  }

  #rating-3:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-120px);
  }

  #rating-4:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-120px);
  }

  #rating-5:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-180px);
  }

  #rating-6:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-180px);
  }

  #rating-7:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-240px);
  }

  #rating-8:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-240px);
  }

  #rating-9:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-300px);
  }

  #rating-10:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-300px);
  }
}

.form-control {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
    .form-control {
      width: 550px;
      font-size: 16px;
    }
}

@media (max-width: 600px) {
    .form-control {
      width: 300px;
      font-size: 14px;
    }
}