.special-cards {
  background: var(--special-color);
  border-radius: 15px;
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.17);
  display: inline-block;
  padding: 40px 65px 70px;
  perspective: 700px;
  margin: 30px auto;
  text-align: center;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 400px;
}

.special-card {
  border-radius: 15px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.6);
  display: inline-block;
  height: 250px;
  overflow: hidden;
  perspective: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: translatez(35px);
  transition: transform 200ms ease-out;
  width: 175px;
  cursor: pointer;
  text-align: center;
}
.special-card:not(:last-child) {
  margin-right: 30px;
}

.special-card-img {
  position: relative;
  height: 100%;
}

.special-card-bg {
  bottom: -50px;
  left: -50px;
  position: absolute;
  right: -50px;
  top: -50px;
  transform-origin: 50% 50%;
  transform: translateZ(-50px);
  z-index: 0;
}

#sp-card-1 .special-card-img {
  top: 15px;
  right: -6px;
  height: 80%;
}

#sp-card-2 .special-card-img {
  top: 40px;
  right: 5px;
  height: 60%;
}

#sp-card-3 .special-card-img {
  top: 35px;
  left: -5px;
  height: 60%;
}

.special-card-text {
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.special-card-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
  margin-bottom: 3px;
}

.row {
  display: none;
}

.app-content-header {
    display: none;
}

@media (max-width: 992px) {
  .special-cards {
    display: none;
  }

  .row {
    display: flex;
  }

  .app-content-header {
    display: initial;
    font-size: 22px;
  }
}

.movie-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height: 300px;
  border:none;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.17);
}

.movie-card .background {
  width: 100%;
  vertical-align: top;
}

.movie-card .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}

.movie-card .category {
  position: absolute;
  left: 50%;
  max-width: 170px;
  opacity: 1;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.movie-card h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 25px;
}

@media (max-width: 770px) {
  .movie-card {
    max-width: 200px;
    margin-bottom: 20px;
  }
}
