{% extends 'movie_finder/base.html' %}
{% load static %}

{% block title %}{% if movie %}"{{ movie }}" Review{% else %}Update Review{% endif %}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'movie-finder/css/movie-reviews.css' %}">
    <link rel="stylesheet" href="{% static 'movie-finder/css/review.css' %}">
    <style>
    #mobBtn > .auth-button {
      display: none;
    }

    .content-section-main-title {
        margin-bottom: 14px;
        font-size: 22px;
    }

    @media (max-width: 992px) {
        .content-section-main-title {
            font-size: 18px;
        }
    }
    </style>
{% endblock %}

{% block content %}
{% if form.errors %}
    {% for error in form.errors %}
<div id="danger-alert" class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>"{{ error|escape }}"</strong> field is required.
</div>
    {% endfor %}
{% endif %}
<div class="reviews-card">
    <form method="POST">
        {% csrf_token %}
        <div class="review-title">
            {% if movie %}
            Add Review for
            <span style="color: var(--review-color);">"{{ movie }}"</span>
            {% else %}
            Update Review
            {% endif %}
        </div>

        <form action="" id="addReview" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title" name="title" style="display: block; text-align: center; font-size: 16px;">Your Rating</label>
                {% include "movie_finder/include/rating.html" %}
            </div>

            <div class="form-group">
                <label for="id_note" style="display: block; text-align: center; font-size: 16px;">Your Review</label>

                <textarea class="form-control" id="id_note" name="review_description" rows="5" aria-describedby="inputNoteHelp">{% if form.note.value %}{{ form.note.value }}{% endif %}</textarea>

                <small id="inputNoteHelp" class="form-text text-muted" style="text-align: center">
                    Describe your feelings after watching. Would you recommend this film?
                </small>
            </div>

            <div style="text-align:center;">
                <input type="submit" class="btn btn-primary" name="add_task" style="width: 200px; margin-bottom: 20px" value="Submit">
            </div>
        </form>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
});
</script>
{% endblock extra_js %}