p {
  font-size: 15px;
  font-family: "Cabin Sketch", sans-serif;
  color: var(--content-title-color);
  text-align: center;
  padding-bottom: 2rem;
}

h1 {
  font-size: 18px;
  font-family: "Cabin Sketch", sans-serif;
  line-height: 1.2em;
  padding-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  #locator-link {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #sentimento-link {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #todo-link {
    display: none;
  }
}

/* ==== ITEM SETTINGS ==== */
.item-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.svg-text {
  fill: #545a64;
}
.svg-masked-text {
  fill: white;
}

.item-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.content-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.items {
  display: -webkit-box;
  display: flex;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.item {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: calc(28.5% - 20px);
  height: 225px;
  margin: 7px;
  cursor: pointer;
  padding: 20px;
  background-color: var(--content-bg);
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02), inset 0 0 0 1px rgba(0, 0, 0, 0.07);
  transition: 0.3s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: var(--theme-bg-color);
}

text {
  font-size: 16px;
  font-family: 'Cabin Sketch', sans-serif;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

/* --- Stuff for the xmas item --- */

/*.item:last-child {*/
/*  width: calc(40% - 20px);*/
/*  height: 300px;*/
/*}*/

@media (max-width: 769px) {
  .lightrope {
    margin-top: -50%;
  }
}

@media screen and (max-width: 1110px) {
  .item {
    width: calc(50% - 20px);
  }
  .item:last-child {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 565px) {
  .item {
    width: calc(100% - 20px);
    margin-top: 20px;
  }
}

.modal-content .round {
  display: block;
}

.modal-content footer .button.finderly,
.modal-content footer .button.todo-lists,
.modal-content footer .button.sentimento,
.modal-content footer .button.locator,
.modal-content footer .button.sign-out {
  text-shadow: 1px 0 0 #565454;
  text-decoration: none;
}

.modal-content footer .button.finderly {
  margin-right: 10px;
  background-color: #ef476f;
  text-shadow: 1px 0 0 #565454;
  text-decoration: none;
}

.modal-content footer .button.todo-lists {
  margin-right: 10px;
  background-color: #e9c46a;
}

.modal-content footer .button.sentimento {
  margin-right: 10px;
  background-color: #06d6a0;
}

.modal-content footer .button.locator {
  margin-right: 10px;
  background-color: #118ab2;
  display: none;
}

.modal-content footer .button.sign-out {
  background-color: #073b4c;
}

@media (max-width: 900px) {
  .modal-content footer .button.locator {
    display: block;
  }
  .modal-content footer .button.finderly,
  .modal-content footer .button.todo-lists,
  .modal-content footer .button.sentimento,
  .modal-content footer .button.locator,
  .modal-content footer .button.sign-out {
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
  }
}


.auth-button {
  display: inline-block;
  padding: 0.8em 2em;
  margin-bottom: 20px;
  align-self: center;

  font-size: 16px;
  font-weight: 600;

  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  color: var(--theme-color);
  background-color: transparent;
  cursor: pointer;

  border-color: var(--auth-color);
  border-radius: 0.6em;
  /*box-shadow: 0 0 40px 40px var(--auth-color) inset, 0 0 0 0 var(--auth-color);*/
  box-shadow: 0 0 5px 0 var(--auth-color) inset, 0 0 5px 2px var(--auth-color);
  transition: all 150ms ease-in-out;
}

.auth-button:hover {
  box-shadow: 0 0 40px 40px var(--auth-color) inset, 0 0 0 0 var(--auth-color);
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 900px) {
    .auth-button {
      font-size: 16px;
      padding: 15px 20px;
      margin-bottom: 20px;
      margin-top: 10px;
    }
}

@media (max-width: 450px) {
    .auth-button {
      width: 130px;
      font-size: 14px;
      padding: 13px 15px;
      margin-top: 7px;
    }
}

@media (max-width: 345px) {
    .auth-button {
      width: auto;
    }
}

#mobBtn > .auth-button {
  display: none;
  margin-top: 0;
  border-color: var(--projects-btn-color);
  box-shadow: 0 0 5px 0 var(--projects-btn-color) inset, 0 0 5px 2px var(--projects-btn-color);
}

#mobBtn > .auth-button:hover {
  box-shadow: 0 0 40px 40px var(--projects-btn-color) inset, 0 0 0 0 var(--projects-btn-color);
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 650px) {
    #mobBtn > .auth-button {
      display: inline-block;
    }
}