{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="jackeshen" content="775afek6d4y9i1057f1b784a678e9785">
<meta name="jackshen-code" content="72157683219778">
<title>Login Form</title>
<link rel="icon" href="{% static 'home/home/ico/logo.ico' %}" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet"  href="{% static 'home/home/css/style.css' %}">

{% block head %} {% endblock %}
</head>

<body>
{% block content %}

{% if form.errors %}
    <script>
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
            }, 4000);
    </script>

    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Your username and password didn't match.</strong> Please try again.
    </div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Your account doesn't have access to this page.</strong>
          To proceed, please login with an account that has access.
      </div>
  {% else %}
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Please login to see this site.</strong>
      </div>
  {% endif %}
{% endif %}

<div class="login-box">
    <h2>Login</h2>
    <form id="myform" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="user-box">
            {{ form.username }}
            <label for="id_username">Username</label>
        </div>
        <div class="user-box">
            {{ form.password }}
            <label for="id_password">Password</label>
        </div>
        <a onclick="document.getElementById('myform').submit()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa fa-sign-in" aria-hidden="true"> </i> Login Locally
            <input type="hidden" name="next" value="{{ next }}" />
        </a>
        {% if settings.SOCIAL_AUTH_GITHUB_KEY %}
            <div class="github-box">
                <a href="{% url 'social:begin' 'github' %}?next={{ next }}">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-github" aria-hidden="true"> </i> Login with GitHub
                </a>
            </div>
        {% endif %}
        <p><a href="{% url 'password_reset' %}" id="lost">Lost password?</a></p>
        <!-- ROOT_URLCONF {{ settings.ROOT_URLCONF }} -->
</form>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
{% endblock %}

