body {
  margin: 0;
  height: 500vh;
}

body::-webkit-scrollbar { width:0; }

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fractals {
  display: none;
  top: 16px;
  left: 16px;
  position: fixed;
  background: transparent;
  width: 150px;
  border: 1px solid #fff;
  color: #fff;
  font-family: monospace;
}