{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expressionism v2</title>
    <link rel="icon" href="{% static 'home/ico/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'expressionism2/style.css' %}">
</head>

<body>
<canvas id="canvas" width="1400" height="600"></canvas>
<script  src="{% static 'expressionism2/script.js' %}"></script>
</body>
</html>