{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="To-Do App">
    <meta name="author" content="JackShen">

    <title>{% block title %}To-Do App{% endblock %}</title>
    <link rel="icon" href="{% static 'ico/logo.ico' %}" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- Custom styles for this template -->
    <style>
        body { background-image: url('{% static "img/main-wallpaper.jpg" %}'); }
    </style>

    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link href="{% static 'todo/css/todo.css' %}" rel="stylesheet">

    {# Additional CSS or html head data inserted by templates here. #}
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
<div class="spinner">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>

<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
    </svg>
</div>

{% if user.is_authenticated %}
<input type="checkbox" id="modal" />
<label for="modal" class="modal-bg"></label>
<div class="modal-content">
    <label for="modal" class="close">
        <i class="fa fa-times" aria-hidden="true"></i>
	</label>

    <img class="round" src="{{ user|gravatar:128 }}" alt="user" />

    <header>
		<h2>{{ user.username }}</h2>
	</header>
	<footer>
        <a href="{% url 'todo:mine' %}" class="button my-tasks"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;My Tasks</a>
        <a href="{% url 'todo:lists' %}" class="button todo-lists"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;To Do Lists</a>
        <a href="{% url 'todo:import_csv' %}" class="button import"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Import</a>
		<a href="{% url 'logout' %}" class="button sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Sign Out</a>
	</footer>
</div>
{% endif %}

<div class="app">
    <div class="header">
        <img class="logo-img" src="{% static 'ico/logo.png' %}" alt="logo" onclick="window.location.href='{% url "home_page" %}'"/>
        <div class="header-menu">
            {% if user.is_authenticated %}
                <a class="menu-link" href="{% url 'todo:lists' %}">To Do Lists</a>
                <a class="menu-link" href="{% url 'todo:mine' %}">My Tasks</a>
                <a class="menu-link" href="{% url 'todo:import_csv' %}">Import</a>
                <a class="menu-link" href="{% url 'todo:external_add' %}">Support</a>
                <a class="menu-link" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="menu-link" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
             <form class="search-bar" action="{% url 'todo:search' %}" method="get">
                 <input type="text" name="q" value="" placeholder="Search" id="q">
             </form>

             <label for="modal" class="header-profile" style="cursor: pointer;">
                 {{ user.username }}
                 <img class="profile-img" src="{{ user|gravatar:60 }}" alt="avatar"/>
             </label>
        {% endif %}
    </div>

    <div class="wrapper">
        <div class="main-container">
            <div class="content-wrapper">
                <div class="content-section">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors %}
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<span class="content-section-footer-title">JackShen Engeneering, {% now "Y" %}</span>

<!-- jQuery and Bootstrap core JS, plus Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="{% static 'base.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>