/* ==== GENERAL SETTINGS ==== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
* {
  padding: 0;
  margin: 0;
  outline: none;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --body-font: 'RocknRoll One', sans-serif;

  --theme-color: #f9fafb;
  --theme-bg-color: rgba(16 18 27 / 40%);
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --scrollbar-bg: rgb(255 253 253 / 27%);
  --content-bg: rgb(146 151 179 / 13%);
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --search-bg: #14162b;
  --table-bg: #1F2739;
  --main-bg: #21242d;

  --border-color: rgba(113 119 144 / 25%);
  --img-border: rgba(16 18 27 / 40%);

  --inactive-color: rgb(113 119 144 / 78%);
  --button-inactive: rgb(249 250 251 / 55%);

  --content-title-color: #999ba5;
  --initials-color: #d56a6a;
  --special-color: #332d5e75;
  --author-color: #8bc34a;
  --footer-color: #f9fafb;
  --select-color: #fc9803;
  --review-color: #4a90e2;
  --auth-color: #4a90e2;

  --special-title: #dc3545;
  --review-card: #2c2b3f;
  --table-text: #4DC3FA;
  --read-more: #ffda00;

  --projects-btn-color: #4caf50;
  --add-btn-color: #673ab7;
}

.light-mode {
  --theme-color: #3c3a3a;
  --theme-bg-color: rgb(255 255 255 / 31%);
  --hover-menu-bg: rgba(255 255 255 / 35%);
  --scrollbar-bg: rgb(1 2 3 / 20%);
  --overlay-bg: rgb(255 255 255 / 30%);
  --search-bg: rgb(255 255 255 / 31%);
  --table-bg: #195f91;
  --main-bg: #f7f7f7;

  --border-color: rgb(255 255 255 / 35%);
  --img-border: rgba(53 97 158 / 50%);

  --inactive-color: #333333;
  --button-inactive: #3c3a3a;

  --content-title-color: #3c3a3a;
  --initials-color: #007bff80;
  --special-color: #35619e38;
  --author-color: #009688;
  --footer-color: #f7f7f7;
  --select-color: #4a90e2;
  --review-color: #fc9803;

  --special-title: #21242d;
  --review-card: #4a92f638;
  --table-text: #d9edf7;
  --read-more: #4a90e2;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 100vh;
  background: #614385;
  background: radial-gradient(at center, #614385, #516395);
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

img {
  max-width: 100%;
}

td a{
  text-decoration: none;
  color: var(--theme-color);
}

td a:hover {
  color: #cccecf;
  text-decoration: none;
}


/* ==== DARK/LIGHT VERSION ==== */
.dark-light {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: var(--main-bg);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .dark-light {
    bottom: 10px;
    right: 15px;
  }
}

.dark-light svg {
  width: 24px;
  flex-shrink: 0;
  fill: #ffce45;
  stroke: #ffce45;
  transition: 0.5s;
}

.light-mode .dark-light svg {
  fill: transparent;
  stroke: var(--theme-color);
}

.light-mode .profile-img {
  border: 2px solid var(--img-border);
}

.light-mode .content-section ul {
  background-color: var(--theme-bg-color);
}

.light-mode .pop-up__title {
  border-color: var(--theme-color);
}

.light-mode .dropdown.is-active ul {
  background-color: rgba(255, 255, 255, 0.88);
}

body.light-mode:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-backdrop-filter: saturate(3);
          backdrop-filter: saturate(3);
}


/* ==== GENERAL APP SETTINGS ==== */
.app {
  background-color: var(--theme-bg-color);
  max-width: 1250px;
  max-height: 860px;
  height: 90vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 600;
}


/* ==== NAVBAR ==== */
.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0 16px;
  }
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  padding: 20px 30px;
  text-decoration: none;
  color: var(--inactive-color);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

@media screen and (max-width: 610px) {
  .header-menu a:not(.main-header-link) {
    display: none;
  }
}

.header-menu a.is-active, .header-menu a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

.menu-circle {
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-right: 195px;
  flex-shrink: 0;
}

@media screen and (max-width: 945px) {
  .menu-circle {
    display: none;
  }
}

.search-bar {
  height: 40px;
  display: flex;
  width: 100%;
  max-width: 400px;
  padding-left: 16px;
  border-radius: 4px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--search-bg);
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 40px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: var(--theme-color);
}

.search-bar input::-moz-placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 500;
}

.search-bar input:-ms-input-placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 500;
}

.search-bar input::placeholder {
  font-family: var(--body-font);
  color: var(--inactive-color);
  font-size: 15px;
  font-weight: 500;
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: auto;
  flex-shrink: 0;
  color: var(--theme-color);
}

@media screen and (max-width: 450px) {
  .header-profile {
      padding: 0 16px 0 20px;
  }
}

.header-profile svg {
  width: 22px;
  color: var(--theme-color);
  flex-shrink: 0;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--theme-color);
  margin-left: 22px;
}

.logo-img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 14px;
  cursor: pointer;
}

.wide .header-menu,
.wide .header-profile {
  display: none;
}
.wide .search-bar {
  max-width: 600px;
  margin: auto;
  transition: 0.4s;
  box-shadow: 0 0 0 1px var(--border-color);
  padding-left: 0;
}
.wide .menu-circle {
  margin-right: 0;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: 58px;
  flex-shrink: 0;
}
.main-header .header-menu {
  margin-left: 150px;
}
@media screen and (max-width: 1055px) {
  .main-header .header-menu {
    margin: auto;
  }
}
.main-header .header-menu a {
  padding: 20px 24px;
}


/* ==== MAIN SETTINGS ==== */
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu-link-main {
  text-decoration: none;
  color: var(--theme-color);
  padding: 0 30px;
}
@media screen and (max-width: 1055px) {
  .menu-link-main {
    display: none;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--theme-color);
  padding: 20px 40px;
  height: 100%;
  overflow: auto;
  background-color: var(--theme-bg-color);
}
@media screen and (max-width: 510px) {
  .content-wrapper {
    padding: 20px;
  }
}

.content-section-title {
  color: var(--content-title-color);
  margin-bottom: 14px;
  margin-top: 14px;
}
.content-section-main-title {
  color: var(--theme-color);
  text-align: center;
  font-size: 18px;
}
.content-section-footer-title {
  color: var(--footer-color);
  display: none;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

/* ==== SCROLLBAR ==== */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}


/* ==== PRELOADER ==== */
.spinner {
  --size: 120px;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
}

.inner.one {
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
  border-bottom: 5px solid #f7f48b;
}

.inner.two {
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
  border-right: 5px solid #f47c7c;
}

.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
  border-top: 5px solid #a1de93;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(50deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(55deg) rotateZ(360deg);
  }
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: background-color 250ms linear;
}

.modal-content {
  position: absolute;
  width: 40%;
  height: auto;
  padding: 30px;
  background-color: #1F1A36;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 250ms ease;
  visibility: hidden;
  z-index: 20;
}

.modal-content .close {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  cursor: pointer;
  z-index: 11;
  color: white;
}

.modal-content header {
  position: relative;
  display: block;
}

.modal-content .round {
  margin: 0 auto;
  width: 128px;
  height: 128px;
  border: 1px solid #4dccf9;
  padding: 7px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-content header h2 {
  margin: 0 0 10px;
  padding: 15px 5px 5px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.modal-content footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
}

.modal-content footer .button {
  position: relative;
  padding: 10px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}

.modal-content footer .button:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: width 250ms ease;
  z-index: 0;
}

.modal-content footer .button:hover:before {
  width: 100%;
}

#modal, #sentimento {
  display: none;
}

#modal:checked ~ .modal-bg {
  visibility: visible;
  background-color: black;
  opacity: 0.7;
  transition: background-color 250ms linear;
}

#modal:checked ~ .modal-content {
  visibility: visible;
  transform: scale(1);
  transition: transform 250ms ease;
  z-index: 111;
}

label.header-profile {
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  font-family: var(--body-font);
}

@media (max-width: 900px) {
    .modal-content footer {
      display: grid;
    }

  .modal-content {
    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;
  }
}