{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Portfolio with my Web Development projects">
    <meta name="author" content="JackShen">

    <meta property="og:image" content="{% static 'img/main-img.png' %}" />
    <meta property="og:image:alt" content="Portfolio with my Web Development projects" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:title" content="JackShen World" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jackshen.herokuapp.com/home/" />
    <meta property="og:description" content="Portfolio with my Web Development projects" />

    <title>{% block title %}JackShen World{% endblock %}</title>
    <link rel="icon" href="{% static 'ico/logo.ico' %}" type="image/x-icon">

    <!-- Main core CSS -->
    <link rel='stylesheet' href='{% static 'libs/css/font-awesome.css' %}'>
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'libs/css/normalize.min.css' %}">

    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home/home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/home/css/xmas-lights.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YW2L42J25"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-6YW2L42J25');
    </script>

    {% block extrahead %}
    {% endblock extrahead %}
</head>

<body>
<div class="spinner">
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>

<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
    </svg>
</div>

{% if user.is_authenticated %}
<input type="checkbox" id="modal" />
<label for="modal" class="modal-bg"></label>
<div class="modal-content">
    <label for="modal" class="close">
        <i class="fas fa-times" aria-hidden="true"></i>
	</label>

    <img class="round" src="{{ user|gravatar:128 }}" alt="user" />

    <header>
		<h2>{{ user.username|truncatechars:15 }}</h2>
	</header>
	<footer>
        <a href="{% url 'movie-finder:movies-main' %}" class="button finderly"><i class="fas fa-film" aria-hidden="true"></i>&nbsp;Movie Finder</a>
        <a href="{% url 'todo:mine' %}" class="button todo-lists"><i class="fas fa-list" aria-hidden="true"></i>&nbsp;To-Do</a>
        <a href="https://github.com/JackShen1/sentimento-web" class="button sentimento"><i class="fas fa-theater-masks" aria-hidden="true"></i>&nbsp;Sentimento</a>
        <a href="{% url 'ip_locator:ip_locator' %}" class="button locator"><i class="fas fa-globe" aria-hidden="true"></i>&nbsp;IP Locator</a>
        <a href="{% url 'cypher:cypher-main' %}" class="button cypher"><i class="fas fa-fingerprint" aria-hidden="true"></i>&nbsp;Cypher</a>
        <a href="{% url 'logout' %}" class="button sign-out"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Sign Out</a>
	</footer>
</div>
{% endif %}

<div class="app">
    <div class="header">
        <img class="logo-img" src="{% static 'ico/logo.png' %}" alt="logo" onclick="window.location.href='{% url "home_page" %}'"/>
        <div class="header-menu">
                <a class="menu-link" href="{% url 'movie-finder:movies-main' %}"><i class="fas fa-film" aria-hidden="true"></i>&nbsp;Movie Finder</a>
                <a class="menu-link" id="todo-link" href="{% url 'todo:lists' %}"><i class="fas fa-list-ul" aria-hidden="true"></i>&nbsp;To-Do</a>
                <a class="menu-link" id="cypher-link" href="{% url 'cypher:cypher-main' %}"><i class="fas fa-fingerprint" aria-hidden="true"></i>&nbsp;Cypher</a>
                <a class="menu-link" id="sentimento-link" href="https://github.com/JackShen1/sentimento-web"><i class="fas fa-theater-masks" aria-hidden="true"></i>&nbsp;Sentimento</a>
                <a class="menu-link" id="locator-link" href="{% url 'ip_locator:ip_locator' %}"><i class="fas fa-globe" aria-hidden="true"></i>&nbsp;IP Locator</a>
            {% if user.is_authenticated %}
                <a class="menu-link" id="logout-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;Log Out</a>
{#            {% else %}#}
{#                <a class="menu-link" id="login-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i>&nbsp;Log In</a>#}
            {% endif %}
        </div>

{#      <form class="search-bar" action="" method="get">#}
{#          <input type="text" name="q" value="" placeholder="Search" id="q">#}
{#      </form>#}

        {% if user.is_authenticated %}
        <label for="modal" class="header-profile" style="cursor: pointer; margin-bottom: 0;">
             {{ user.username|truncatechars:15 }}
             <img class="profile-img" src="{{ user|gravatar:60 }}" alt="avatar"/>
        </label>
        {% else %}
        <div class="header-profile" style="visibility: hidden;"></div>
        {% endif %}
        <img class="profile-img" id="github" src="{% static 'img/github-dark.png' %}" alt="avatar"/>
        <i id="xmas-version" style="color: #2196f3; font-size: 1.75rem; margin-left: 10px; cursor: pointer;" class="fas fa-snowflake" onclick="snowfall()"></i>
        <i id="default-version" style="color: var(--theme-color); font-size: 1.5rem; display: none; margin-left: 10px; cursor: pointer;" class="fas fa-undo fa-sm"></i>
    </div>

    <div class="wrapper">
        <div class="main-container">
            <div class="content-wrapper">
                <div class="content-section">
                    {% if messages %}
                        {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors %}
                    <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<span class="content-section-footer-title">JackShen Engeneering, {% now "Y" %}</span>

<!--Main core JS, JQuery -->
<script src="{% static 'libs/js/jquery1-7-1.min.js' %}"></script>
<script src="{% static 'libs/js/prefixfree.min.js' %}"></script>
<script src="{% static 'home/home/js/snowstorm.js' %}"></script>
<script src="{% static 'home/home/js/main_script.js' %}"></script>
<script src="{% static 'base.js' %}"></script>
<script>
let theme_flag = 1;
let github = document.getElementById('github');

$('.dark-light').click(function() {
    if (theme_flag) {
        github.src = "{% static 'img/github-light.png' %}";
        theme_flag = 0;
    }
    else {
        github.src = "{% static 'img/github-dark.png' %}";
        theme_flag = 1;
    }
});

$(github).click(function() {
    window.open('https://github.com/JackShen1/My-World');
});

$(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
});
</script>

{% block extra_js %}
{% endblock extra_js %}
</body>
</html>