{% extends "ip_locator/base.html" %}
{% load static %}

{% block content %}
    <div class="content-section-main-title" style="margin-bottom: 14px; font-size: 24px;">IP Address: <b>{{ data.ip }}</b></div>

     <table id="id-table" class="table table-hover table-responsive-md text-center">
         <thead>
             <tr class="nodrop" style="color: var(--table-text); background: var(--table-bg);">
                 <th>Attributes</th>
                 <th>Data</th>
             </tr>
         </thead>

         <tbody>
             <tr>
                 <td>Address</td>
                 <td>{{ data.country }}, {{ data.region }}, {{ data.city }}</td>
             </tr>

             <tr>
                 <td>Country Flag</td>
                 <td>
                     <p>
                         <img alt="country flag" height="10%" width="10%" style="border-radius: 10%;" src={{ data.country_flag }}>
                     </p>
                 </td>
             </tr>

             <tr>
                 <td>Country</td>
                 <td>{{data.country}}</td>
             </tr>

             <tr>
                 <td>Region</td>
                 <td>{{data.region}}</td>
             </tr>

             <tr>
                 <td>City</td>
                 <td><i class="fas fa-info-circle" style="color: #3875d7;"></i><a href="{{page_link}}" target="_blank" style="color: #3a6df0;" rel="noopener"> {{data.city}}</a> </td>
             </tr>

             <tr>
                 <td>Organisation</td>
                 <td>{{data.org}}</td>
             </tr>

             <tr>
                 <td>Latitude</td>
                 <td>{{data.latitude}}</td>
             </tr>

             <tr>
                 <td>Longitude</td>
                 <td>{{data.longitude}}</td>
             </tr>

             <tr>
                 <td>Timezone</td>
                 <td>{{data.timezone}}</td>
             </tr>
         </tbody>
     </table>


<div>
    <iframe id="map" src="{{ map_url }}" title="Google Map Location" allowfullscreen></iframe>
</div>
{% endblock %}