{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Expressionism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'home/home/ico/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/expressionism/style.css' %}">
</head>

<body>
<div id="container"></div>

<script src="{% static 'libs/three.min.js' %}"></script>

<script id="vertexShader" type="x-shader/x-vertex">
    void main() {
      gl_Position = vec4(position, 1.0);
    }
</script>

<script id="fragmentShader" type="x-shader/x-fragment">
    #ifdef GL_ES
    precision mediump float;
    #endif

    #extension GL_OES_standard_derivatives : enable

    uniform float time;
    uniform vec2 mouse;
    uniform vec2 resolution;

    void main( void ){

        vec2 uv = (gl_FragCoord.xy/resolution.xy) * 4.0;

        vec2 uv0 = uv;
        float i0 = 2.2;
        float i1 = 1.95;
        float i2 = 1.5;
        vec2 i4 = vec2(0.0,0.0);
        for(int s=0; s<10; s++){
            vec2 r;
            r = vec2(cos(uv.y * i0 - i4.y + time / i1), sin(uv.x * i0 + i4.x + time / i1)) / i2;
            r += vec2(-r.y,r.x) * 0.2;
            uv.xy += r;

            i0 *= 1.93;
            i1 *= 1.25;
            i2 *= 1.7;
            i4 += r.xy * 1.0 + 0.5 * time * i1;
        }

        float r = cos(uv.x-time) * 0.5 + 0.2;
        float b = sin(uv.y+time) * 0.5 - 1.0;
        float g = sin((sqrt(uv.x * uv.x + uv.y * uv.y) + time)) * 0.5 - 0.1;
        vec3 c = vec3(r,g,b);
        gl_FragColor = vec4(c,1.0);
    }
</script>

<script  src="{% static 'home/expressionism/script.js' %}"></script>
</body>
</html>