{% extends 'cypher/base.html' %}
{% load static %}
{% block title %}Bacon Cipher{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'libs/css/icons.css' %}">
{% endblock %}

{% block content %}
<form id="cipherDecrypt" class="cipher-form" action="{% url "cypher:bacon" %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" value="False" name="cipherEncrypt">
    <div class="container">
        <header class="cipher-form-header">
            <h2 class="title">Bacon Decoder</h2>
        </header>

        <div class="cipher-form-main">
            <section class="form-content">
                <div class="row-wrapper">
                    <div class="element decrypt">
                        <label for="ciphertext">Ciphertext</label>
                        <textarea id="ciphertext" name="ciphertext" minlength="5" maxlength="1000" required>{% if ciphertext and decrypt %}{{ ciphertext }}{% else %}AAAAABAABABAABAAAAAAAAABAABAABBAABAABBABABABBABBABBAAAABAAAAABBABBABAAAABABBAAAAABBABABABBBAABAAABBBAABAAABBAAABBABBAAAABAABAAABBB{% endif %}</textarea>
                    </div>

                    <div class="element original-table">
                        <label style="display: block; text-align: center;">Use Original Table (i=j, u=v)</label>
                        <label for="originalDecode" class="check" style="text-align: center; padding-right: 0; display: block;">
                            <input type="checkbox" value="True" name="originalTable" id="originalDecode" class="hidden" {% if originTable and decrypt %}checked{% endif %}/>
                            <span class="label" style="margin-right: 0;"></span>
                        </label>
                    </div>
                </div>

                {% if plaintext and decrypt %}
                <div class="row-wrapper">
                    <div class="element encrypt">
                        <label for="plaintext">Plaintext</label>
                        <textarea id="plaintext" readonly="readonly">{{ plaintext }}</textarea>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>

        <footer class="form-footer">
            <div class="footer-wrapper">
                <input type="submit" value="Decrypt!">
            </div>
        </footer>
    </div>
</form>

<form id="cipherEncrypt" class="cipher-form" action="{% url "cypher:bacon" %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" value="True" name="cipherEncrypt">
    <div class="container">
        <header class="cipher-form-header">
            <h2 class="title">Bacon Encoder</h2>
        </header>

        <div class="cipher-form-main">
            <section class="form-content">
                <div class="row-wrapper">
                    <div class="element encrypt">
                        <label for="plaintext">Plaintext</label>
                        <textarea id="plaintext" name="plaintext" minlength="5" maxlength="1000" required>{% if plaintext and not decrypt %}{{ plaintext }}{% else %}Attack tomorrow from the north.{% endif %}</textarea>
                    </div>

                    <div class="element original-table">
                        <label style="display: block; text-align: center;">Use Original Table (i=j, u=v)</label>
                        <label for="originalEncode" class="check" style="text-align: center; padding-right: 0; display: block;">
                            <input type="checkbox" value="True" name="originalTable" id="originalEncode" class="hidden" {% if originTable and not decrypt %}checked{% endif %}/>
                            <span class="label" style="margin-right: 0;"></span>
                        </label>
                    </div>
                </div>

                {% if ciphertext and not decrypt %}
                <div class="row-wrapper">
                    <div class="element encrypt">
                        <label for="ciphertext">Ciphertext</label>
                        <textarea id="ciphertext" readonly="readonly">{{ ciphertext }}</textarea>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>

        <footer class="form-footer">
            <div class="footer-wrapper">
                <input type="submit" value="Encrypt!">
            </div>
        </footer>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'cypher/js/cypher.js' %}"></script>
<script>
{% if decrypt %}
decrypt();
{% endif %}
</script>
{% endblock extra_js %}