{% extends 'cypher/base.html' %}
{% load static %}
{% block title %}ROT13 Cipher{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'libs/css/icons.css' %}">
{% endblock %}

{% block content %}
<form id="cipherDecrypt" class="cipher-form" action="{% url "cypher:rot13" %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" value="False" name="cipherEncrypt">
    <div class="container">
        <header class="cipher-form-header">
            <h2 class="title">ROT13 Decoder</h2>
        </header>

        <div class="cipher-form-main">
            <section class="form-content">
                <div class="row-wrapper">
                    <div class="element decrypt">
                        <label for="ciphertext">Ciphertext</label>
                        <textarea id="ciphertext" name="ciphertext" minlength="5" maxlength="1000" required>{% if ciphertext and decrypt %}{{ ciphertext }}{% else %}Nggnpx gbzbeebj ng 9:78 sebz gur abegu, gur znva gnetrg - gur fbhgurea tngr.{% endif %}</textarea>
                    </div>
                </div>

                {% if plaintext and decrypt %}
                <div class="row-wrapper">
                    <div class="element encrypt">
                        <label for="plaintext">Plaintext</label>
                        <textarea id="plaintext" readonly="readonly">{{ plaintext }}</textarea>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>

        <footer class="form-footer">
            <div class="footer-wrapper">
                <input type="submit" value="Decrypt!">
            </div>
        </footer>
    </div>
</form>

<form id="cipherEncrypt" class="cipher-form" action="{% url "cypher:rot13" %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" value="True" name="cipherEncrypt">
    <div class="container">
        <header class="cipher-form-header">
            <h2 class="title">ROT13 Encoder</h2>
        </header>

        <div class="cipher-form-main">
            <section class="form-content">
                <div class="row-wrapper">
                    <div class="element encrypt">
                        <label for="plaintext">Plaintext</label>
                        <textarea id="plaintext" name="plaintext" minlength="5" maxlength="1000" required>{% if plaintext and not decrypt %}{{ plaintext }}{% else %}Attack tomorrow at 6:45 from the north, the main target - the southern gate.{% endif %}</textarea>
                    </div>
                </div>

                {% if ciphertext and not decrypt %}
                <div class="row-wrapper">
                    <div class="element encrypt">
                        <label for="ciphertext">Ciphertext</label>
                        <textarea id="ciphertext" readonly="readonly">{{ ciphertext }}</textarea>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>

        <footer class="form-footer">
            <div class="footer-wrapper">
                <input type="submit" value="Encrypt!">
            </div>
        </footer>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'cypher/js/cypher.js' %}"></script>
<script>
{% if decrypt %}
decrypt();
{% endif %}
</script>
{% endblock extra_js %}