{% extends "analyzer/base.html" %}
{% load static %}
{% block title %}Task List: {{ task_list.name }}{% endblock %}

{% block content %}
    {% if list_slug != "mine" %}
        {% if not user.is_authenticated %}
        <div class="content-wrapper-header">
            <div class="content-wrapper-context">
                <div class="img-content" style="text-align: center;">
                    <b style="color: #f6ceff;"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;Task Uploader</b>
                </div>
                <div class="content-text">
                    To create your unique page: click the `Add Task` button below, then enter your full name, email and, if necessary, a note; in the field `assigned to` select the teacher.
                    If you have entered everything correctly, you will be provided with a link to your unique page, where you can upload all the necessary files (maximum 3).
                    <br><br>
                    <b style="color: #fece00;"><i class="fa fa-exclamation-triangle"></i> Note:</b>  Save your unique link to track the results of the analysis and comments of the teacher.
                </div>
            </div>
            <img class="content-wrapper-img" src="https://i.imgur.com/W77hk9Y.png" alt="">
        </div>

        <p style="margin-top: 20px;"></p>
        {% endif %}

        <div style="text-align: center; margin-bottom: 15px;">
            <button class="btn btn-primary" style="width: 200px;" id="AddTaskButton" type="button" data-toggle="collapse" data-target="#AddEditTask">Add Task</button>
        </div>

        {# Task edit / new task form #}
        <div id="AddEditTask" class="collapse">
            {% include 'analyzer/include/task_edit.html' %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if tasks %}
            {% if list_slug == "mine" %}
                <div class="content-section-main-title" style="margin-bottom: 14px; font-size: 20px;">Tasks assigned to me (in all groups)</div>
            {% else %}
                <div class="content-section-main-title" style="font-size: 20px;">{{ view_checked|yesno:"Checked tasks, Tasks" }} in "{{ task_list.name }}"</div>
                <p style="text-align: center;"><small><i>In workgroup "{{ task_list.group }}" - drag rows to set priorities.</i></small></p>
            {% endif %}

            <table class="table" id="tasktable">
                <tr class="nodrop" style="color: var(--table-text); background: var(--table-bg);">
                    <th>Task</th>
                    <th>Created</th>
                    <th>Email</th>
                    <th>Assigned</th>
                    <th>Checked</th>
                    <th>Delete</th>
                </tr>

                {% for task in tasks %}
                    <tr id="{{ task.id }}" style="color: var(--content-title-color);">
                        <td>
                            <a href="{% url 'analyzer:task_detail' task.id %}">{{ task.username|truncatewords:10 }}</a>
                        </td>

                        <td>{{ task.created_date|date:"d/m/Y" }}</td>

                        <td>
                            {{ task.email }}
                        </td>

                        <td>{% if task.assigned_to %}{{ task.assigned_to }}{% else %}Anyone{% endif %}</td>

                        <td>
                            <form method="post" action="{% url "analyzer:task_toggle_done" task.id %}" role="form">
                                {% csrf_token %}
                                <button class="btn btn-info btn-sm" type="submit" name="toggle_done" style="font-size: 14px;">
                                    {% if view_checked %}
                                        Not Done
                                    {% else %}
                                        Done
                                    {% endif %}
                                </button>
                            </form>
                        </td>

                        <td>
                            <form method="post" action="{% url "analyzer:delete_task" task.id %}" role="form">
                                {% csrf_token %}
                                <input type="submit" value="X" class="btn btn-danger btn-sm" name="submit_delete" style="width: 50px; font-size: 14px;">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'analyzer/include/toggle_delete.html' %}
        {% else %}
            <div class="content-section-main-title" style="margin: 10px 10px; font-size: 22px;">No tasks on this list yet (add one!)</div>
            {% include 'analyzer/include/toggle_delete.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'analyzer/js/tablednd.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        function order_tasks(data) {
            // The JQuery plugin tableDnD provides a serialize() function which provides the re-ordered data in a list.
            // We pass that list as an object to a Django view to save new priorities on each task in the list.
            $.post("{% url 'analyzer:reorder_tasks' %}", data, "json");
            return false;
        }

        $(document).ready(function() {
            // Initialise the task table for drag/drop re-ordering
            $("#tasktable").tableDnD();

            $('#tasktable').tableDnD({
                onDrop: function(table, row) {
                    order_tasks($.tableDnD.serialize());
                }
            });
        });

        // When adding a task, change the text of the Add Task button
        function handleClick() {
            console.log(this.innerHTML);
            this.innerHTML = (this.innerHTML === 'Add Task' ? 'Cancel' : 'Add Task');
        }

        document.getElementById('AddTaskButton').onclick=handleClick;
    </script>
{% endblock extra_js %}